In [21]:
from datetime import date, datetime, timedelta
from gs_quant.data import Dataset
from gs_quant.markets.securities import SecurityMaster, AssetIdentifier
from gs_quant.session import GsSession

import pandas as pd
import pytz
import dateutil.relativedelta

In [18]:
client_id="211a42c6a16244ccb1f9142ae9cc7fc1"
client_secret="2f65f549b398ecbbe047933822dc0c2fa950f67158e9e6bbddc256ff5beaebf6"

# access marquee
scopes = GsSession.Scopes.get_default()
GsSession.use(client_id=client_id, client_secret=client_secret, scopes=scopes)
ds = Dataset('USCANFPP_MINI')

In [26]:
current_date = datetime.utcnow().replace(tzinfo=pytz.utc)
past_date = current_date - timedelta(days=365)
past_date

datetime.datetime(2018, 10, 27, 3, 55, 8, 631266, tzinfo=<UTC>)

In [56]:
# parse all stock data
gsids = ds.get_coverage()['gsid'].values.tolist()
data = ds.get_data(date(2014, 1, 15), date(2019, 1, 15))
# data = ds.get_data(past_date, current_date, gsid=gsids[0:5])
# data.head()

# for idx, row in data.iterrows():
#     marqueeAssetId = row['assetId']
#     asset = SecurityMaster.get_asset(marqueeAssetId, AssetIdentifier.MARQUEE_ID)
# #     print("processing...", asset.name, end=', ')
#     data.loc[data['assetId'] == marqueeAssetId, 'assetName'] = asset.name
    
data.to_pickle("./gs_sec_data.pkl")
# data.head()

In [50]:
data.head(n=25)

,financialReturnsScore,growthScore,gsid,integratedScore,multipleScore,updateTime
date,,,,,,
2014-01-15,0.140,0.896,75154,0.496,0.548,2017-05-11T19:47:36Z
2014-01-16,0.138,0.898,75154,0.494,0.552,2017-05-11T19:47:36Z
2014-01-17,0.140,0.896,75154,0.496,0.546,2017-05-11T19:47:36Z
2014-01-20,0.140,0.896,75154,0.496,0.548,2017-05-11T19:47:36Z
2014-01-21,0.140,0.896,75154,0.496,0.546,2017-05-11T19:47:36Z
2014-01-22,0.138,0.898,75154,0.504,0.528,2017-05-11T19:47:36Z
2014-01-23,0.138,0.900,75154,0.502,0.532,2017-05-11T19:47:36Z
2014-01-24,0.138,0.900,75154,0.502,0.532,2017-05-11T19:47:36Z
2014-01-27,0.140,0.898,75154,0.508,0.516,2017-05-11T19:47:36Z
2014-01-28,0.140,0.898,75154,0.502,0.530,2017-05-11T19:47:36Z
2014-01-29,0.140,0.900,75154,0.494,0.558,2017-05-11T19:47:36Z
2014-01-30,0.140,0.900,75154,0.500,0.538,2017-05-11T19:47:36Z
2014-01-31,0.142,0.900,75154,0.500,0.544,2017-05-11T19:47:36Z
2014-02-03,0.142,0.900,75154,0.506,0.526,2017-05-11T19:47:36Z
2014-02-04,0.144,0.914,75154,0.506,0.542,2017-05-11T19:47:36Z
2014-02-05,0.144,0.916,75154,0.504,0.546,2017-05-11T19:47:36Z
2014-02-06,0.144,0.916,75154,0.508,0.540,2017-05-11T19:47:36Z
2014-02-07,0.144,0.916,75154,0.500,0.560,2017-05-11T19:47:36Z
2014-02-10,0.148,0.916,75154,0.504,0.548,2017-05-11T19:47:36Z
2014-02-11,0.148,0.916,75154,0.502,0.554,2017-05-11T19:47:36Z
2014-02-12,0.148,0.914,75154,0.506,0.542,2017-05-11T19:47:36Z
2014-02-13,0.148,0.916,75154,0.506,0.546,2017-05-11T19:47:36Z
2014-02-14,0.150,0.914,75154,0.510,0.536,2017-05-11T19:47:36Z
2014-02-17,0.150,0.912,75154,0.510,0.534,2017-05-11T19:47:36Z
2014-02-18,0.150,0.912,75154,0.508,0.536,2017-05-11T19:47:36Z

In [55]:
data.to_csv("./gs_sec_data.csv", sep=',', index=False)
pd.read_csv('gs_sec_data.csv', index_col=0)

,growthScore,gsid,integratedScore,multipleScore,updateTime
financialReturnsScore,,,,,
0.140,0.896,75154,0.496,0.548,2017-05-11T19:47:36Z
0.138,0.898,75154,0.494,0.552,2017-05-11T19:47:36Z
0.140,0.896,75154,0.496,0.546,2017-05-11T19:47:36Z
0.140,0.896,75154,0.496,0.548,2017-05-11T19:47:36Z
0.140,0.896,75154,0.496,0.546,2017-05-11T19:47:36Z
0.138,0.898,75154,0.504,0.528,2017-05-11T19:47:36Z
0.138,0.900,75154,0.502,0.532,2017-05-11T19:47:36Z
0.138,0.900,75154,0.502,0.532,2017-05-11T19:47:36Z
0.140,0.898,75154,0.508,0.516,2017-05-11T19:47:36Z
0.140,0.898,75154,0.502,0.530,2017-05-11T19:47:36Z
0.140,0.900,75154,0.494,0.558,2017-05-11T19:47:36Z
0.140,0.900,75154,0.500,0.538,2017-05-11T19:47:36Z
0.142,0.900,75154,0.500,0.544,2017-05-11T19:47:36Z
0.142,0.900,75154,0.506,0.526,2017-05-11T19:47:36Z
0.144,0.914,75154,0.506,0.542,2017-05-11T19:47:36Z
0.144,0.916,75154,0.504,0.546,2017-05-11T19:47:36Z
0.144,0.916,75154,0.508,0.540,2017-05-11T19:47:36Z
0.144,0.916,75154,0.500,0.560,2017-05-11T19:47:36Z
0.148,0.916,75154,0.504,0.548,2017-05-11T19:47:36Z
0.148,0.916,75154,0.502,0.554,2017-05-11T19:47:36Z
0.148,0.914,75154,0.506,0.542,2017-05-11T19:47:36Z
0.148,0.916,75154,0.506,0.546,2017-05-11T19:47:36Z
0.150,0.914,75154,0.510,0.536,2017-05-11T19:47:36Z
0.150,0.912,75154,0.510,0.534,2017-05-11T19:47:36Z
0.150,0.912,75154,0.508,0.536,2017-05-11T19:47:36Z
0.150,0.910,75154,0.520,0.502,2017-05-11T19:47:36Z
0.150,0.910,75154,0.522,0.496,2017-05-11T19:47:36Z
0.148,0.908,75154,0.522,0.488,2017-05-11T19:47:36Z
0.148,0.906,75154,0.522,0.490,2017-05-11T19:47:36Z
0.150,0.904,75154,0.520,0.492,2017-05-11T19:47:36Z
...,...,...,...,...,...
0.822,0.466,10696,0.468,0.882,2017-05-22T08:05:30Z
0.820,0.468,10696,0.468,0.880,2017-05-23T08:11:52Z
0.814,0.466,10696,0.466,0.880,2017-05-24T08:05:16Z
0.812,0.462,10696,0.466,0.878,2017-05-25T08:12:41Z
0.812,0.464,10696,0.464,0.882,2017-05-26T08:06:48Z
0.812,0.464,10696,0.464,0.882,2017-05-29T08:05:08Z
0.812,0.462,10696,0.464,0.882,2017-05-30T08:05:54Z
0.812,0.464,10696,0.464,0.882,2017-06-05T09:38:43Z
0.812,0.464,10696,0.464,0.886,2017-06-01T08:05:25Z
0.810,0.468,10696,0.462,0.894,2017-06-02T08:04:43Z
0.810,0.472,10696,0.464,0.890,2017-06-05T08:04:58Z
0.810,0.470,10696,0.464,0.890,2017-06-06T08:05:52Z
0.808,0.470,10696,0.464,0.886,2017-06-07T08:05:46Z
0.808,0.468,10696,0.464,0.886,2017-06-08T08:33:37Z
0.808,0.468,10696,0.464,0.886,2017-06-09T08:05:43Z
0.808,0.466,10696,0.462,0.890,2017-06-12T08:05:22Z
0.808,0.466,10696,0.460,0.890,2017-06-13T08:05:29Z
0.808,0.466,10696,0.460,0.894,2017-06-14T08:04:49Z
0.808,0.466,10696,0.460,0.894,2017-06-15T08:04:51Z
0.808,0.466,10696,0.460,0.892,2017-06-16T08:05:50Z
0.808,0.466,10696,0.460,0.892,2017-06-19T08:04:45Z
0.812,0.470,10696,0.464,0.888,2017-06-20T08:08:35Z
0.810,0.472,10696,0.464,0.888,2017-06-21T08:07:14Z
0.808,0.472,10696,0.464,0.888,2017-06-22T08:05:56Z
0.810,0.474,10696,0.466,0.888,2017-06-23T08:25:02Z
0.810,0.472,10696,0.466,0.886,2017-06-26T08:05:04Z
0.810,0.472,10696,0.464,0.888,2017-06-27T08:06:17Z
0.808,0.470,10696,0.464,0.888,2017-06-28T08:04:52Z
0.810,0.468,10696,0.464,0.888,2017-06-29T08:05:26Z
0.810,0.468,10696,0.464,0.888,2017-06-30T08:05:02Z